# Imports

In [1]:
import pandas as pd

# Data Structures

In [2]:
# tuple: tuple is a fixed length
tup = (4, 5, 6, 7, 8)

tup

(4, 5, 6, 7, 8)

In [3]:
tuple ([4, 5, 6, 7])

(4, 5, 6, 7)

In [4]:
tup = tuple ('Samuel')
tup

('S', 'a', 'm', 'u', 'e', 'l')

In [5]:
tup[2:5]

('m', 'u', 'e')

In [6]:
tup[1:4]

('a', 'm', 'u')

In [ ]:
# lists
ls = ["this", "is", "Africa"]

In [ ]:
seq = [1, 2, 3, 4, 5, 6, 9, 7, 8, 9]
seq [1:5]

[2, 3, 4, 5]

In [ ]:
empty_dict = {}
d1 = {"a": "Samuel", "b": [0,7,5,6]}
d1

{'a': 'Samuel', 'b': [0, 7, 5, 6]}

In [ ]:
list = [a, b, c, d, e]

In [9]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [10]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

# Functions

In [11]:
# Functions
def myfunc (a, b):
  return a/b

In [12]:
myfunc(4, 3)

1.3333333333333333